In [1]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# 生データの読み込み
data = pd.read_csv('./dataset/log-2020-02-20-13-54-32.csv',
                   index_col=0)
print(data.shape)
data.head()

(2442, 4)

   acceleration_x  acceleration_y  acceleration_z      time
0          -108.0           119.0           870.0  0.000000
1          -106.0           110.0           865.0  0.176580
2          -109.0           125.0           863.0  0.345388
3          -111.0           118.0           863.0  0.499721
4          -110.0           116.0           862.0  0.655409

In [4]:
# 各状態のデータに切り分け(timeは除外)
sitting = data.iloc[:110, :3]
walking = data.iloc[120:240, :3]
running = data.iloc[240:360, :3]
behaviors = {'sitting': sitting,
             'walking': walking,
             'running': running}

In [10]:
# ラベル付けして一つのデータにまとめる
for k, v in behaviors.items():
    v['class'] = k
merged_data = pd.concat([sitting, walking, running])

print(merged_data.shape)
merged_data.head()

(350, 4)

   acceleration_x  acceleration_y  acceleration_z    class
0          -108.0           119.0           870.0  sitting
1          -106.0           110.0           865.0  sitting
2          -109.0           125.0           863.0  sitting
3          -111.0           118.0           863.0  sitting
4          -110.0           116.0           862.0  sitting